/* viewport_base.css 파일입니다.  전체적인 화면 레이아웃 구성을 도와줄거임*/

/*
 기본규칙!!
    태그 선택자 -> 그냥 쓴다 div
    아이디 선택자 -> # + 아이디
    클래스 선택자 -> . + 클래스명
*/

/*
    색상정리!!
     메인 녹색 : #006e51
     탁한 파랑 : #4c6a92
     탁한 하늘 : #92b6d5
     회색 색깔 : #838487
     밝은 버건디 : #b93a32
     탁한 베이지 : #af9483
     탁한 분홍색 : #ad5d5d
     겨자 색상 : #d8ae47
     탁한 벽돌색 : #9e4624
     탁한 보라색 : #b76ba3
*/

body {
    margin: 0;
    padding: 0;
    background: #131313;
    display: block;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 70px;
    float: left;
    background: #333333;
}

#title {
    height: inherit;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 2em;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
    text-decoration: none;
}

#menu_bar {
    list-style-type: none;
    position: fixed;
    top: 70px;
    left: 0;
    /*background-color : #b93a32;*/
    width: 100%;
    height: 40px;
}

#menu_bar div {
    display: inline;
}

#menu_bar div ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #333;
}

#menu_bar div ul li {
    padding: 5px;
    margin: 3px;
    float: left;
    color: #ffffff;
    border-radius: 5px;
    border-width: 2px;
    border-color: #ffffff;
}

#menu_bar div ul li:hover {
    background-color: #111111;
}

#menu_bar div ul li a {
    color: #ffffff;
    display: block;
    text-decoration: none;
}

#menu_bar div ul li a:hover {
    color: #dbdbdb;
    text-decoration: underline;
}

section {
    padding-top: 150px;
    background: #131313;
    width: 100%;
}

.content {
    overflow: auto;
    width: 100%;
}

.content_child {
    height: 700px;
    width: 100%;
    background: #131313;
    display: block;
}

.section_p{
    top: 200px;
    left: 30%;
    position: relative;
    color: #ffffff;
    font-size: 2em;
}

footer {
    position: static;
    background-color: #333333;
    width: 100%;
    height: 120px;
    float: left;
    display: inline;
    overflow: hidden;
}

footer div {
    float: left;
    color: #eaeaea;
    overflow: hidden;
}

footer div :first-child {
    width: 30%;
}

footer div :nth-child(2) {
    width: 40%;
}

footer div :nth-child(3) {
    width: 30%;
}
