/* viewport_base.css 파일입니다.  전체적인 화면 레이아웃 구성을 도와줄거임*/

/*
 기본규칙!!
    태그 선택자 -> 그냥 쓴다 div
    아이디 선택자 -> # + 아이디
    클래스 선택자 -> . + 클래스명
*/

/*
    색상정리!!
     메인 녹색 : #006e51
     탁한 파랑 : #4c6a92
     탁한 하늘 : #92b6d5
     회색 색깔 : #838487
     밝은 버건디 : #b93a32
     탁한 베이지 : #af9483
     탁한 분홍색 : #ad5d5d
     겨자 색상 : #d8ae47
     탁한 벽돌색 : #9e4624
     탁한 보라색 : #b76ba3
*/

body {
  padding-top : 0px;
  padding-right : 0px;
  padding-bottom : 0px;
  padding-left : 0px;
}
header {
  background : #006e51;
  width : 100%;
  height : 5em;
  padding-top : 3em;
  float : right;
}

#title {
  font-size : 2em;
  color : #ffffff;
  text-align : right;
  font-weight : bold;
  text-decoration : none;
}

nav {
  background : #006e51;
  width : 100%;
  display : inline;
}

nav div {
  width : 33%;
}

#nav_menu {
  color : #ffffff;
  float : left;
  display : inline-block;
}

section {

}

footer {

}
