/* viewport_base.css 파일입니다.  전체적인 화면 레이아웃 구성을 도와줄거임*/

/*
 기본규칙!!
    태그 선택자 -> 그냥 쓴다 div
    아이디 선택자 -> # + 아이디
    클래스 선택자 -> . + 클래스명
*/
body {
  padding-top : 0px;
  padding-right : 0px;
  padding-bottom : 0px;
  padding-left : 0px;
}
header {
  background : #006e51;
  width : 100%;
  height : 5em;
  padding-top : 3em;
  float : right;
}

nav {
  background : #006e51;
  float : left;
  display : inline;
}

nav li{
  float : left;
}

section {

}

footer {

}

#title {
  font-size : 2em;
  color : #ffffff;
  text-align : right;
  font-weight : bold;
  text-decoration : none;
}
